<template>

  <div class="dictionary">
    <AudioPlayer pNotes='notes' @playIndex="setIndex" />
    <Dict :hideEnglish="true" pTitle="DICTIONARY" :playingIndex="playingIndex" pHeaders='headers' pNotes='notes' pSortBy='dictSortBy' pSortDesc='dictSortDesc' />
  </div>
</template>

<script>
// @ is an alias to /src
// import Word from '@/components/Word.vue'
import Dict from '@/components/Dict.vue'
import AudioPlayer from '@/components/AudioPlayer.vue'
// console.log(deck.note_models)
// 0: index
// 1: Kanji
// 2: Furigana
// 3: Kana
// 4: English word
// 5: audio
// 6: Pos
// 7: Caution
// 8: Expression
// 9: Reading
// 10: Sentence in kana
// 11: English sentence
// 12: Sentence without word
// 13: Sentence audio
// 14: Notes
// 15: Core index
// 16: Optimized index
// 17: Frequency
// console.log(deck.media_files)
// console.log(deck.notes)
// fields[]
// guid
// notes_model_uuid

export default {
  components: {
    // Word
    Dict,
    AudioPlayer
  },
  methods: {
    setIndex (key) {
      this.playingIndex = key
    }
  },
  data () {
    return {
      playingIndex: -1
    }
  },
  mounted: function () {
  }
}
</script>
