<template>

  <div class="dictionary">
        <AudioPlayer pNotes='knownNotes' @playIndex="setIndex" />
       <v-row>
          <v-col cols=6>
            <v-switch
              v-model="quickView"
              label="Simplified View"
              class="ml-3 mr-5 mt-5"
            ></v-switch>
          </v-col>
          <v-col v-if="quickView" cols=6>
            <v-select
              v-model="select"
              :items="items"
              label="Languages"
            ></v-select>
          </v-col>
        </v-row>
    <Dict pTitle="KNOWN WORDS" :playingIndex="playingIndex" :pHeaders="headers()" pNotes='knownNotes' pSortBy='knownSortBy' pSortDesc='knownSortDesc' />
  </div>
</template>

<script>
// @ is an alias to /src
// import Word from '@/components/Word.vue'
import Dict from '@/components/Dict.vue'
import AudioPlayer from '@/components/AudioPlayer.vue'
// console.log(deck.note_models)
// 0: index
// 1: Kanji
// 2: Furigana
// 3: Kana
// 4: English word
// 5: audio
// 6: Pos
// 7: Caution
// 8: Expression
// 9: Reading
// 10: Sentence in kana
// 11: English sentence
// 12: Sentence without word
// 13: Sentence audio
// 14: Notes
// 15: Core index
// 16: Optimized index
// 17: Frequency
// console.log(deck.media_files)
// console.log(deck.notes)
// fields[]
// guid
// notes_model_uuid

export default {
  components: {
    // Word
    Dict,
    AudioPlayer
  },
  data () {
    return {
      selectedHeaders: 'headers',
      quickView: false,
      jpOnly: false,
      enOnly: false,
      items: ['All', 'English', 'Japanese'],
      select: 'All',
      playingIndex: -1
    }
  },
  methods: {
    setIndex (key) {
      this.playingIndex = key
    },
    headers () {
      if (this.quickView) {
        if (this.select === 'English') {
          return 'enHeaders'
        } else if (this.select === 'Japanese') {
          return 'jpHeaders'
        } else {
          return 'reducedHeaders'
        }
      } else {
        return 'headers'
      }
    }
  },
  mounted: function () {
  }
}
</script>
