<template>

  <div class="dictionary">
    <!-- <Word v-for="item in dictionary" :key="item.notes_model_uuid" :info=item /> -->
    <RefreshBar pNotes='similarNotes' />
    <Dict :pTitle="$store.state.showSimilar ? 'SIMILAR WORDS' : $store.state.rivalUser + ' knows these words...'" pHeaders='headers' pNotes='similarNotes' pSortBy='similarSortBy' pSortDesc='similarSortDesc' />
  </div>
</template>

<script>
// @ is an alias to /src
// import Word from '@/components/Word.vue'
import Dict from '@/components/Dict.vue'
import RefreshBar from '@/components/RefreshBar.vue'
// console.log(deck.note_models)
// 0: index
// 1: Kanji
// 2: Furigana
// 3: Kana
// 4: English word
// 5: audio
// 6: Pos
// 7: Caution
// 8: Expression
// 9: Reading
// 10: Sentence in kana
// 11: English sentence
// 12: Sentence without word
// 13: Sentence audio
// 14: Notes
// 15: Core index
// 16: Optimized index
// 17: Frequency
// console.log(deck.media_files)
// console.log(deck.notes)
// fields[]
// guid
// notes_model_uuid

export default {
  components: {
    // Word
    Dict,
    RefreshBar
  },
  data () {
    return {
    }
  },
  mounted: function () {
    // this.$store.commit('getSimilarNotes')
  }
}
</script>
