<template v-slot:top>
    <v-toolbar flat>
        <v-btn class="mr-4" dark color="info" @click="playAll('Vocabulary-Audio')">
          <v-icon dark class="mr-2">{{ playing['Vocabulary-Audio'] ? 'mdi-stop' : 'mdi-play' }}</v-icon> Words
        </v-btn>
        <v-spacer />
        <v-btn class="mr-4" dark color="info" @click="playAll('Sentence-Audio')">
          <v-icon dark class="mr-2">{{ playing['Sentence-Audio'] ? 'mdi-stop' : 'mdi-play' }}</v-icon> Sentences
        </v-btn>
    </v-toolbar>
</template>

<script>
export default {
  name: 'RefreshBar',
  props: {
    pNotes: String
  },
  data () {
    return {
      thresholds: [0, 1, 2, 3, 4],
      threshold: 1,
      audio: '',
      indexPlay: { 'Vocabulary-Audio': 0, 'Sentence-Audio': 0 },
      playing: { 'Vocabulary-Audio': false, 'Sentence-Audio': false },
      expanded: [],
      singleExpand: true,
      mode: ''
    }
  },
  methods: {
    playAll (key) {
      /* eslint-disable */
      this.playing[key] = !this.playing[key]
      this.mode = key

      if (this.playing[key]){
        this.playing = { 'Vocabulary-Audio': false, 'Sentence-Audio': false }
        this.playing[key] = true
        this.indexPlay = { 'Vocabulary-Audio': 0, 'Sentence-Audio': 0 }
        this.audio.src = null
      } else {
        return
      }

      if (this.indexPlay[key] === 0) {
        this.playAudio(this.$store.state[this.pNotes][0].extra[key])
        this.indexPlay[key]++
      }
      this.audio.onended = function () {
        if (!this.playing[key] || this.indexPlay[key] >= this.$store.state[this.pNotes].length) {
          this.playing = { 'Vocabulary-Audio': false, 'Sentence-Audio': false }
          this.indexPlay = { 'Vocabulary-Audio': 0, 'Sentence-Audio': 0 }
        } else {
          setTimeout(() => {
            this.playAudio(this.$store.state[this.pNotes][this.indexPlay[key]].extra[key])
            this.indexPlay[key]++
          }, 1500);
        }
      }.bind(this)
      /* eslint-enable */
    },
    playAudio (src) {
      this.audio.src = src
      this.audio.play()
      this.$emit('playIndex', this.indexPlay[this.mode])
    },
    refreshSimilarities () {
      console.log('refresh')
      this.$store.commit('getSimilarNotes', this.threshold)
    }
  },
  mounted: function () {
    this.audio = new Audio()
    // if (this.pNotes.search('similar') > -1) this.$store.commit('getSimilarNotes', 1)
    // this.$store.commit('initKnownWords')
    //  "Optimized-Voc-Index": "1", "Vocabulary-Kanji": "それ", "Vocabulary-Furigana": "それ", "Vocabulary-Kana": "それ", "Vocabulary-English": "that, that one",
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
