<template>
    <v-container
        class="pa-0 "
    >
        <v-row class="no-gutters elevation-4">
        <v-col
            cols="auto"
            class="flex-grow-1 flex-shrink-0"
        >
            <v-responsive
            v-if="$store.state.openChat"
            class="overflow-y-hidden fill-height"
            height="350"
            >
            <v-card
                flat
                class="d-flex flex-column fill-height"
            >
                <v-card-title>
                {{ $store.state.userChat.nickname}}
                <v-spacer />
                <v-icon @click="close">mdi-close</v-icon>
                </v-card-title>
                <v-card-text class="flex-grow-1 overflow-y-auto scroll">
                <template v-for="(msg, i) in $store.state.chatMessages">
                    <div
                    :class="{ 'd-flex flex-row-reverse': msg.fromUsr === $store.state.userID }" :key="i"
                    >
                    <v-menu offset-y>
                        <template v-slot:activator="{ on }">
                        <v-hover
                            v-slot:default="{ hover }"
                        >
                            <v-chip
                            :color="msg.fromUsr === $store.state.userID ? 'primary' : ''"
                            dark
                            style="height:auto;white-space: normal;"
                            class="pa-4 mb-2"
                            v-on="on"
                            >
                            {{ msg.content }}
                            <sub
                                class="ml-2"
                                style="font-size: 0.5rem;"
                            >{{ formatTime(msg.timestamp)}}</sub>
                            <v-icon
                                v-if="hover"
                                small
                            >
                                expand_more
                            </v-icon>
                            </v-chip>
                        </v-hover>
                        </template>
                        <v-list>
                        <v-list-item>
                            <v-list-item-title>delete</v-list-item-title>
                        </v-list-item>
                        </v-list>
                    </v-menu>
                    </div>
                </template>
                </v-card-text>
                <v-card-text class="flex-shrink-1">
                    <v-text-field
                    v-model="messageForm.content"
                    label="Type"
                    type="text"
                    no-details
                    outlined
                    append-outer-icon="mdi-send"
                    @keyup.enter="sendMessage(messageForm)"
                    @click:append-outer="sendMessage(messageForm)"
                    hide-details
                />
                </v-card-text>
            </v-card>
            </v-responsive>
        </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
  name: 'Chat',

  data: () => ({
    messageForm: {
      content: '',
      toUsr: '',
      timestamp: '0'
    }
  }),
  methods: {
    close () {
      this.$store.commit('closeChat')
    },
    formatTime (d) {
      const temp = new Date(d)
      const t = temp.getHours() + ':' + temp.getMinutes()
      return t
    },
    sendMessage (msg) {
      console.log(msg)
      msg.timestamp = Date.now()
      msg.toUsr = this.$store.state.userChat.id
      msg.fromUsr = this.$store.state.userID
      this.$store.commit('sendChatMsg', msg)
      this.messageForm.content = ''
    }
  },
  mounted () {
    this.messageForm.toUsr = this.$store.state.userChat.id
    // this.$store.commit('getChatMsgs', this.$store.state.userChat.id)
  }
//   updated () { this.$refs.chatWindow.scrollTop = this.$refs.chatWindow.scrollHeight }
}
</script>

<style scoped>
/* .scroll {
  overflow-y: scroll
} */
</style>
