<template>
  <div>
    <Chat />
    <h2>Dashboard</h2>
    <v-row v-if="$store.state.shareStats">
      <v-col>
        <v-simple-table height="auto">
          <template v-slot:default>
            <thead>
              <tr>
                 <th class="text-left">
                  Rank
                </th>
                <th class="text-left">
                  Nickname
                </th>
                <th class="text-left">
                  Known
                </th>
                <th class="text-left">
                  Check
                </th>
                <th class="text-left">
                  Online
                </th>
                 <th class="text-left">
                  Chat
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, key, index) in stats"
                :key="key"
                v-bind:style= "[isCurrentUser(item.nickName, index) ? {'background': '#bbb'} : {}]"
              >
                <td>{{ index+1 }}</td>
                <td>{{ item.nickName }}</td>
                <td>{{ item.known }}</td>
                <td><v-icon v-if="!isCurrentUser(item.nickName, index)" @click="getWords(key, item.nickName)">mdi-magnify</v-icon></td>
                <td><v-icon v-bind:color="$store.state.userStatus[key] ? 'green' : 'red'">mdi-record</v-icon></td>
                <td>
                  <v-badge left :value="$store.state.newMsgNotifications[key]===true" dot color='success'>
                    <v-icon v-if="!isCurrentUser(item.nickName, index)" @click="chat(key, item.nickName)">mdi-chat</v-icon>
                  </v-badge>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
    <v-row v-else class="ma-5">
      <h2> You have to enable stat sharing in settings to see other users stats</h2>
    </v-row>
  </div>
</template>

<script>
import ImparaDataService from '@/services/ImparaDataService'
import firebase from 'firebase'
import Chat from '@/components/Chat'

export default {
  name: 'Dashboard',

  data: () => ({
    stats: {},
    statsRef: '',
    userStatus: {}
  }),
  methods: {
    test (key) {
      console.log(this.$store.state.newMsgNotifications[key], key)
    },
    chat (key, nickname) {
      this.$store.dispatch('openChat', {
        id: key,
        nickname: nickname
      })
    },
    getWords (key, nickName) {
      this.$store.commit('getUserWords', { key: key, nickName: nickName })
      this.$router.push('/similarknown')
    },
    sharingStats () {
      // console.log('sharing stats: ', this.$store.state.phoneNumber)
      return this.$store.state.phoneNumber === 1
    },
    isCurrentUser (nickName, index) {
      // console.log(nickName, firebase.auth().currentUser.displayName, firebase.auth().currentUser.displayName === nickName)
      const currentUser = firebase.auth().currentUser.displayName.substring(1) === nickName
      if (currentUser) {
        this.ranking = index + 1
      }
      return currentUser
    }
  },
  mounted () {
    this.statsRef = ImparaDataService.getUsersStats()
    this.statsRef.on('value', (snapshot) => {
      if (snapshot.exists()) {
        this.stats = snapshot.val()
      }
    })
  },
  components: {
    Chat
  }
}
</script>
