<template>
  <v-card>
    <v-card-title class="justify-center">{{ pTitle }}</v-card-title>
    <v-card-actions>
      <v-text-field
        class="ml-2 mb-4 mr-2"
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-select
          class="mt-4 ml-2"
          :items="$store.state.pos"
          v-model="pos"
          clearable
          dense
          outlined
        ></v-select>
      <!-- <v-switch
        v-model="groupByPos"
        label="Group By Pos"
        class="ml-3 mr-5 mt-5"
      ></v-switch> -->
      <v-btn class="mr-5 d-none d-sm-flex" large @click="updateSortByBtn(['Frequency'])">Sort By Freq</v-btn>
      <v-btn class="mr-2 d-none d-sm-flex" large @click="updateSortByBtn(['Optimized-Voc-Index'])">Sort By Priority</v-btn>
    </v-card-actions>
  <v-data-table
    ref="dataTable"
    @click:row="clickRow"
    :headers="headers"
    :items="notes"
    :single-expand="singleExpand"
    :expanded.sync="expanded"
    item-key="guid"
    class="elevation-1"
    :items-per-page="50"
    :sort-by.sync="$store.state[pSortBy]"
    :sort-desc.sync="$store.state[pSortDesc]"
    @update:sort-by="updateSortBy"
    @update:sort-desc="updateSortDesc"
    :group-by="groupByPos ? 'Vocabulary-Pos' : null"
    :search="search"
    @update:page="$vuetify.goTo($refs.dataTable)"
    mobile-breakpoint="0"
  >
    <template class="ma-0 pa-0" v-slot:[`item.actions`]="props">
      <v-icon class="mr-4" large dark color="info" @click="playAudio(props.item.extra['Vocabulary-Audio'])">mdi-play</v-icon>
      <v-icon class="mr-4" large dark color="green" @click="manipulate(props.item)">{{ pNotes.search('known') > -1 || pNotes.search('archived') > -1  ? 'mdi-minus' : 'mdi-plus' }}</v-icon>
      <v-icon v-if="pNotes.search('notes') > -1" class="" large dark color="red" @click="archive(props.item)">mdi-minus }}</v-icon>
      <!-- <v-btn class="mr-2 mt-1" dark small color="info" @click="playAudio(props.item.extra['Vocabulary-Audio'])">
        <v-icon dark>mdi-play</v-icon>
      </v-btn>
      <v-btn class="mr-2 mt-1" dark small color="green" @click="manipulate(props.index, props.item)">
        <v-icon dark>{{ pNotes.search('known') > -1 ? 'mdi-thumb-down' : 'mdi-thumb-up' }}</v-icon>
      </v-btn> -->
    </template>
    <!-- <template v-slot:[`item.play`]="props">
    </template> -->
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length">
        <v-row>
          <!-- <v-col cols="2" class="text-left">
            <v-btn @click="playAudio(item.extra['Vocabulary-Audio'])">
              <v-icon dark>mdi-play</v-icon>
            </v-btn>
          </v-col> -->
          <v-col cols="3" class='pt-5'>
           <div v-html="item.extra['Reading']"></div>
          </v-col>
          <v-col cols="2" class="text-right mt-1">
            <v-btn x-small @click="playAudio(item.extra['Sentence-Audio'])">
              <v-icon dark>mdi-play</v-icon>
            </v-btn>
          </v-col>
          <v-col v-if="pNotes==='similarNotes'" cols="2" class="text-right pt-5">
           {{ item.extra.similarFurigana }}
          </v-col>
          <v-col v-if="pNotes==='similarNotes'" cols="2" class="text-right pt-5">
           {{ item.extra.similarEnglish }}
          </v-col>
           <v-col cols="3" class='pt-5'>
            <div v-html="item.extra['Sentence-English']"></div>
          </v-col>
          <v-col cols="3" class='pt-5'>
            <div v-html="item.extra['Vocabulary-Pos']"></div>
          </v-col>
        </v-row>
        <!-- <div v-for="h in extraHeaders" :key="h" :colspan="headers.length">
          <div v-if="item.extra[h].indexOf('.mp3') > -1">
            <audio controls>
              <source :src="item.extra[h]" type="audio/mp3">
              Your browser does not support the audio element.
            </audio>
          </div>
          <div v-else>
            {{ item.extra[h] }}
          </div>
        </div> -->
      </td>
    </template>
  </v-data-table>
  </v-card>
</template>

<script>
export default {
  name: 'KnownWords',
  props: {
    pTitle: String,
    pHeaders: String,
    pNotes: String,
    pSortBy: String,
    pSortDesc: String,
    playingIndex: Number,
    hideEnglish: Boolean
  },
  data () {
    return {
      pos: '',
      search: '',
      thresholds: [0, 1, 2, 3, 4],
      threshold: 1,
      audio: '',
      indexPlay: 0,
      playing: false,
      expanded: [],
      singleExpand: true,
      groupByPos: false,
      sortDescBtn: { 'Optimized-Voc-Index': false, Frequency: false },
      showAllCols: false
    }
  },
  computed: {
    notes () {
      if (this.pos) {
        return this.$store.state[this.pNotes].filter((e) => { return e['Vocabulary-Pos'] === this.pos })
      } else {
        return this.$store.state[this.pNotes]
      }
    },
    headers () {
      if (this.hideEnglish) return this.$store.state[this.pHeaders].filter((e) => { return e.text !== 'English' })
      else return this.$store.state[this.pHeaders]
    }
  },
  // watch: {
  //   playingIndex (val) {
  //     console.log('new ', val)
  //   }
  // },
  methods: {
    // itemRowBackground: function (item) {
    //   return item.index === this.playingIndex ? 'style-1' : 'style-2'
    // },
    clickRow (item, event) {
      if (event.isExpanded) {
        const indexExpanded = this.expanded.findIndex(i => i === item)
        this.expanded.splice(indexExpanded, 1)
      } else {
        this.expanded = []
        this.expanded.push(item)
      }
    },
    playAll () {
      /* eslint-disable */
      this.playing = !this.playing
      if (!this.playing) return
      if (this.indexPlay === 0) {
        this.audio = new Audio()
        this.playAudio(this.$store.state[this.pNotes][0].extra['Vocabulary-Audio'])
        this.indexPlay++
      }
      this.audio.onended = function () {
        if (!this.playing || this.indexPlay >= this.$store.state[this.pNotes].length) {
          this.audio = new Audio()
        } else {
          this.playAudio(this.$store.state[this.pNotes][this.indexPlay].extra['Vocabulary-Audio'])
          this.indexPlay++
        }
      }.bind(this)
      /* eslint-enable */
    },
    playAudio (src) {
      this.audio.src = src
      this.audio.play()
    },
    updateSortByBtn (c) {
      this.sortDescBtn[c] = !this.sortDescBtn[c]
      console.log(c, this.sortDescBtn[c])
      this.updateSortBy(c)
      this.updateSortDesc([this.sortDescBtn[c]])
    },
    updateSortBy (c) {
      this.sortBy = c
      this.$store.commit('update' + this.pSortBy, c)
    },
    updateSortDesc (c) {
      this.sortDesc = c
      this.$store.commit('update' + this.pSortDesc, c)
    },
    manipulate (word) {
      const index = this.$store.state[this.pNotes].indexOf(word)
      if (this.pNotes.search('known') > -1) {
        this.$store.commit('removeWord', { index: index, word: word })
      } else if (this.pNotes.search('similar') > -1) {
        this.$store.commit('addSimilar', { index: index, word: word })
      } else if (this.pNotes.search('archived') > -1) {
        this.$store.commit('removeArchived', { index: index, word: word })
      } else {
        this.$store.commit('addWord', { index: index, word: word })
      }
      // localForage.setItem('knownWords', knownWords)
    },
    archive (word) {
      const index = this.$store.state[this.pNotes].indexOf(word)
      this.$store.commit('archiveWord', { index: index, word: word })
    },
    refreshSimilarities () {
      console.log('refresh')
      this.$store.commit('getSimilarNotes', this.threshold)
    }
  },
  mounted: function () {
    this.audio = new Audio()
    // this.updateSortByBtn(['Optimized-Voc-Index'])
    // if (this.pNotes.search('similar') > -1) this.$store.commit('getSimilarNotes', 1)
    // this.$store.commit('initKnownWords')
    //  "Optimized-Voc-Index": "1", "Vocabulary-Kanji": "それ", "Vocabulary-Furigana": "それ", "Vocabulary-Kana": "それ", "Vocabulary-English": "that, that one",
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.style-1 {
  background-color: rgb(215,215,44)
}
.style-2 {
  background-color: rgb(114,114,67)
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
