<template>
  <v-container>
    <h1 class="text-center">How it Works</h1>
    <v-card class="mb-2" @click="$router.push({ name: 'Dictionary' })">
      <v-card-title> 1. Study on the dictionary </v-card-title>
      <v-card-text class="text-center"> <v-icon x-large>mdi-arrow-down-bold</v-icon></v-card-text>
    </v-card>
    <v-card class="mb-2" @click="$router.push({ name: 'Known' })">
      <v-card-title> 2. Add learnt words to known </v-card-title>
      <v-card-text class="text-center"> <v-icon x-large>mdi-arrow-down-bold</v-icon></v-card-text>
    </v-card>
    <v-card class="mb-2" @click="$router.push({ name: 'Similar' })">
      <v-card-title> 3. Generate list of similar words </v-card-title>
      <v-card-text class="text-center"> <v-icon x-large>mdi-arrow-down-bold</v-icon></v-card-text>
    </v-card>
    <v-card class="mb-2" @click="$router.push({ name: 'Similar' })">
      <v-card-title> 4. Study similar words and add them to known </v-card-title>
      <v-card-text class="text-center"> <v-icon x-large>mdi-arrow-down-bold</v-icon></v-card-text>
    </v-card>
    <v-card @click="$router.push({ name: 'Dictionary' })">
      <v-card-title> 5. Back to the dictionary </v-card-title>
      <v-card-text class="text-center">  </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
// import Chat from '@/components/Chat'
export default {
  name: 'Home',

  data: () => ({
  }),
  methods: {
  },
  components: {
    // Chat
  }
}
</script>
