<template>
    <v-dialog v-model="dialog" persistent max-width="600px" min-width="360px">
        <div>
            <v-tabs v-model="tab" show-arrows background-color="info" icons-and-text dark grow>
                <v-tabs-slider color="purple darken-4"></v-tabs-slider>
                <v-tab v-for="(i, index) in tabs" :key="index">
                    <v-icon large>{{ i.icon }}</v-icon>
                    <div class="caption py-1">{{ i.name }}</div>
                </v-tab>
                <v-tab-item>
                    <v-card class="px-4">
                        <v-card-text>
                            <v-form ref="loginForm" v-model="valid" lazy-validation>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field v-model="loginEmail" :rules="loginEmailRules" label="E-mail" required></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field v-model="loginPassword" :append-icon="show1?'eye':'eye-off'" :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 6 characters" counter @click:append="show1 = !show1"></v-text-field>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="6" xsm="12">
                                    </v-col>
                                    <v-spacer></v-spacer>
                                    <v-col class="d-flex" cols="12" sm="3" xsm="6" align-end>
                                        <v-btn x-large block color="error" @click="cancel"> Cancel </v-btn>
                                    </v-col>
                                    <v-col class="d-flex" cols="12" sm="3" xsm="6" align-end>
                                        <v-btn x-large block :disabled="!valid" color="success" @click="validate(0)"> Login </v-btn>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item>
                    <v-card class="px-4">
                        <v-card-text>
                            <v-form ref="registerForm" v-model="valid" lazy-validation>
                                <v-row>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="nickName" :rules="[rules.required]" label="Nickname" maxlength="20" required></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field v-model="password" type='password' :rules="[rules.required, rules.min]" name="input-10-1" label="Password" hint="At least 6 characters" counter @click:append="show1 = !show1"></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field block v-model="verify" type='password' :rules="[rules.required, passwordMatch]" name="input-10-1" label="Confirm Password" counter @click:append="show1 = !show1"></v-text-field>
                                    </v-col>
                                    <v-checkbox
                                      class="ml-2"
                                      v-model="shareStatsModel"
                                      label="Share Progress"
                                      @change="updateStatSharing"
                                    ></v-checkbox>
                                    <v-spacer></v-spacer>
                                    <v-col class="d-flex" cols="12" sm="3" xsm="6" align-end>
                                        <v-btn x-large block color="error" @click="cancel"> Cancel </v-btn>
                                    </v-col>
                                    <v-col class="d-flex ml-auto" cols="12" sm="3" xsm="6">
                                        <v-btn x-large block :disabled="!valid" color="success" @click="validate(1)">Register</v-btn>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs>
        </div>
    </v-dialog>
</template>

<script>
import firebase from 'firebase'
export default {
  name: 'Login',

  data () {
    return {
      shareStatsModel: false,
      shareStats: '',
      dialog: true,
      tab: 0,
      tabs: [
        { name: 'Login', icon: 'mdi-account' },
        { name: 'Register', icon: 'mdi-account-outline' }
      ],
      valid: true,
      nickName: '',
      lastName: '',
      email: '',
      password: '',
      verify: '',
      loginPassword: '',
      loginEmail: '',
      loginEmailRules: [
        v => !!v || 'Required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      emailRules: [
        v => !!v || 'Required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      show1: false,
      rules: {
        required: value => !!value || 'Required.',
        min: v => (v && v.length >= 6) || 'Min 6 characters'
      }
    }
  },
  computed: {
    passwordMatch () {
      return () => this.password === this.verify || 'Password must match'
    }
  },
  methods: {
    updateStatSharing () {
    //   this.$store.commit('updateStatSharing', this.shareStats ? 1 : 0)
      this.shareStats = this.shareStatsModel ? '1' : '0'
    },
    updateNickname () {
      if (this.nickName.replace(' ', '') !== '') {
        this.$store.commit('updateNickname', this.shareStats + this.nickName)
      } else {
        alert(
          'Nickname can\'t be empty'
        )
      }
    },
    cancel () {
      this.dialog = false
      this.$router.go(-1)
    },
    login () {
      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
        .then(() => {
          // Existing and future Auth states are now persisted in the current
          // session only. Closing the window would clear any existing state even
          // if a user forgets to sign out.
          // ...
          // New sign-in will be persisted with session persistence.
          firebase
            .auth()
            .signInWithEmailAndPassword(this.loginEmail, this.loginPassword)
            .then(() => {
              // alert('Successfully logged in')
              this.$store.dispatch('loggedIn')
              this.$router.push('/dashboard')
              console.log('logged in')
            })
            .catch(error => {
              alert(error.message)
            })
        })
        .catch((error) => {
          // Handle Errors here.
          var errorCode = error.code
          var errorMessage = error.message
          console.log(errorCode, errorMessage)
        })
    },
    validate (actionId) {
      if (actionId === 0) {
        if (this.$refs.loginForm.validate()) this.login()
      } else {
        if (this.$refs.registerForm.validate()) this.register()
      }
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    },
    register () {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then((res) => {
          alert('Successfully registered! Please login.')
          // console.log(res.user)
          // res.user.updateProfile({
          //   displayName: this.nickName
          // }).then(function () {
          //   // Update successful.
          //   console.log('user updated')
          // }, function (error) {
          //   console.log('profile error', error)
          // })
          this.updateNickname()
          this.$router.push('/')
        })
        .catch(error => {
          alert(error.message)
        })
    }
  }
}
</script>
