<template>
    <div>
        <v-app-bar
        app
        color="primary"
        dense
        dark
        >
        <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
            <v-app-bar-nav-icon class="hidden-md-and-up" v-bind="attrs"
            v-on="on" @click="drawer = !drawer"></v-app-bar-nav-icon>
        </template>
        <v-list>
            <v-list-item
            v-for="(item, index) in items"
            :key="index"
            :to="item.link"
            >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
        </v-list>
        </v-menu>
        <v-toolbar-title><v-btn text class="title" @click="$router.push('/')">Impara</v-btn></v-toolbar-title>

        <v-spacer />
        <v-toolbar-title class="ml-2">
        {{ $store.state.nWords[this.$route.name] }}
        </v-toolbar-title>
        <v-progress-circular
          v-if="$store.state.nWordsPct[this.$route.name] >= 0"
          class="ml-4 mr-4"
          :rotate="360"
          :size="40"
          :width="5"
          :value="$store.state.nWordsPct[this.$route.name]"
          color="warning"
        >
        </v-progress-circular>
        <v-spacer class="hidden-sm-and-down"></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn text to="/dictionary">Dictionary</v-btn>
            <v-btn text to="/known">Known</v-btn>
            <v-btn text to="/similarknown">Similar</v-btn>
            <v-btn text to="/archived">Archived</v-btn>
        </v-toolbar-items>
         <v-menu
            bottom
            left
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                dark
                icon
                v-bind="attrs"
                v-on="on"
              >
                <v-badge left :value="Object.keys($store.state.newMsgNotifications).length > 0" dot color='success'>
                <v-icon large> {{ $store.state.isLoggedIn ?" mdi-account-circle" : "mdi-dots-vertical" }} </v-icon>
                </v-badge>
              </v-btn>
            </template>

           <v-list v-if="$store.state.isLoggedIn">
             <v-list-item>
                <v-btn text to="/dashboard">Dashboard</v-btn>
              </v-list-item>
              <v-list-item  v-if="!$store.state.isLoggedIn">
                <v-btn text to="/login">Login</v-btn>
              </v-list-item>
              <v-list-item>
                <v-btn text @click="logout">Logout</v-btn>
              </v-list-item>
              <v-list-item>
                <v-btn text to="/settings">Settings</v-btn>
              </v-list-item>
              <v-list-item>
                <v-btn text to="/about">About</v-btn>
              </v-list-item>
          </v-list>
          <v-list v-else>
              <v-list-item>
                <v-btn text to="/login">Login</v-btn>
              </v-list-item>
              <v-list-item>
                <v-btn text to="/about">About</v-btn>
              </v-list-item>
          </v-list>
          </v-menu>
    </v-app-bar>
  </div>
</template>

<script>
import firebase from 'firebase'
export default {
  data: () => ({
    isLoggedIn: false,
    drawer: true,
    menuItemsLoggedIn: [
      // { title: 'Home', link: '/' },
      { title: 'Dashboard', link: '/dashboard' },
      { title: 'Settings', link: '/settings' },
      { title: 'Log Out', link: '/logout' },
      { title: 'About', link: '/about' }
    ],
    menuItemsLoggedOut: [
      // { title: 'Home', link: '/' },
      { title: 'Log In', link: '/login' },
      { title: 'About', link: '/about' }
    ],
    items: [
      // { title: 'Home', link: '/' },
      { title: 'Dictionary', link: '/dictionary' },
      { title: 'Known', link: '/known' },
      { title: 'Similar', link: '/similarknown' },
      { title: 'Archived', link: '/archived' }
    ]
  }),
  methods: {
    logout () {
      firebase
        .auth()
        .signOut()
        .then(() => {
          // alert('Successfully logged out')
          this.$store.commit('loggedOut')
          this.$router.push('/')
        })
        .catch(error => {
          alert(error.message)
          this.$router.push('/')
        })
    }
  }
}
</script>
