<template v-slot:top>
    <!-- <v-toolbar> -->
    <!-- <v-toolbar-title>Expandable Table</v-toolbar-title> -->
    <!-- <v-spacer></v-spacer> -->
    <v-row class="mt-5 ml-2 mr-2">
        <v-btn class="mr-2 mb-2" dark color="info" @click="playAll('Vocabulary-Audio')">
          <v-icon dark class="mr-2">{{ playing['Vocabulary-Audio'] ? 'mdi-stop' : 'mdi-play' }}</v-icon> Words
        </v-btn>
        <v-btn class="mr-2 mb-2" dark color="info" @click="playAll('Sentence-Audio')">
          <v-icon dark class="mr-2">{{ playing['Sentence-Audio'] ? 'mdi-stop' : 'mdi-play' }}</v-icon> Sentences
        </v-btn>
        <v-spacer class="hidden-sm-and-down" ></v-spacer>
        <v-spacer class="hidden-sm-and-down" ></v-spacer>
        <v-btn class="mr-2 mb-2" dark color="error" @click="clear">
          <v-icon dark> mdi-delete </v-icon>
        </v-btn>
        <v-btn class="mr-2 mb-2" dark color="info" @click="refreshSimilarities">
          <v-icon dark> mdi-refresh </v-icon>
        </v-btn>
        <v-select
          class="mb-2"
          dense
          v-model="threshold"
          :items="thresholds"
          label="Similarity Rate"
          outlined
        ></v-select>
    </v-row>
    <!-- <v-switch
        v-model="singleExpand"
        label="Single expand"
        class="mt-2"
    ></v-switch> -->
    <!-- </v-toolbar> -->
</template>

<script>
export default {
  name: 'RefreshBar',
  props: {
    pNotes: String
  },
  data () {
    return {
      thresholds: [1.0, 0.75, 0.5, 0.25],
      threshold: 1,
      audio: '',
      indexPlay: { 'Vocabulary-Audio': 0, 'Sentence-Audio': 0 },
      playing: { 'Vocabulary-Audio': false, 'Sentence-Audio': false },
      expanded: [],
      singleExpand: true
    }
  },
  methods: {
    playAll (key) {
      /* eslint-disable */
      this.playing[key] = !this.playing[key]
      if (this.playing[key]){
        this.playing = { 'Vocabulary-Audio': false, 'Sentence-Audio': false }
        this.playing[key] = true
        this.indexPlay = { 'Vocabulary-Audio': 0, 'Sentence-Audio': 0 }
        this.audio.src = null
      } else {
        return
      }
      
      if (this.indexPlay[key] === 0) {
        this.playAudio(this.$store.state[this.pNotes][0].extra[key])
        this.indexPlay[key]++
      }
      this.audio.onended = function () {
        if (!this.playing[key] || this.indexPlay[key] >= this.$store.state[this.pNotes].length) {
          this.playing = { 'Vocabulary-Audio': false, 'Sentence-Audio': false }
          this.indexPlay = { 'Vocabulary-Audio': 0, 'Sentence-Audio': 0 }
        } else {
          this.playAudio(this.$store.state[this.pNotes][this.indexPlay[key]].extra[key])
          this.indexPlay[key]++
        }
      }.bind(this)
      /* eslint-enable */
    },
    playAudio (src) {
      this.audio.src = src
      this.audio.play()
    },
    refreshSimilarities () {
      // this.$store.commit('getSimilarNotes', this.threshold)
      this.$store.dispatch('getSimilarNotes', this.threshold)
    },
    clear () {
      // this.$store.commit('getSimilarNotes', this.threshold)
      this.$store.commit('deleteSimilar')
    }
  },
  mounted: function () {
    this.audio = new Audio()
    // if (this.pNotes.search('similar') > -1) this.$store.commit('getSimilarNotes', 1)
    // this.$store.commit('initKnownWords')
    //  "Optimized-Voc-Index": "1", "Vocabulary-Kanji": "それ", "Vocabulary-Furigana": "それ", "Vocabulary-Kana": "それ", "Vocabulary-English": "that, that one",
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
