<template>
  <v-row>
    <v-dialog scrollable :value="overlay" width="50%">
      <v-card>
        <v-card-actions><v-btn @click="overlay=false">Close</v-btn></v-card-actions>
        <v-card-text>
      <v-progress-circular
        v-if="generatedText==[]"
        indeterminate
        size="64"
      ></v-progress-circular>
      <v-list-item v-for="(item, index) in generatedText" :key="index">
        <v-list-item-content v-if="item">
          <v-list-item-title class="text-wrap">{{ item }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-card-text>

    </v-card>
    </v-dialog>
    <v-col cols="4" class="mt-1 ml-2">
      <v-btn @click='generateText'>Generate Text</v-btn>
    </v-col>
    <v-col cols="4">
      <v-slider
        v-model="value"
        step="1"
        min="3"
        max="20"
        default="5"
        thumb-label
        ticks
        hint="Number of words"
        persistent-hint
        @change="updateList"
      ></v-slider>
    </v-col>
    <v-col cols="3" class="mr-2">
      <v-select
        v-model="range"
        :items="ranges"
        outlined
        dense
        label="Range"
      ></v-select>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    pNotes: String
  },
  data () {
    return {
      range: [1, 10],
      overlay: false,
      value: 5,
      ranges: [],
      prompt: '',
      promptPhrase: 'I will give you a list of words in English and I want you to write a short story in Japanese using all those words; I want you to give me exactly the same story written first in english, then in hiragana and finally in kana, for each paragraph. After the store, make a list of vocabulary words. The words are: ',
      api_endpoint: 'https://chatgpt-api.shn.hk/v1/',
      generatedText: ''
    }
  },
  methods: {
    updateList () {
      this.ranges = []
      const nRanges = this.$store.state[this.pNotes].length / this.value
      for (let n = 0; n < nRanges; n++) {
        this.ranges.push([n * this.value, Math.min((n + 1) * this.value, this.$store.state[this.pNotes].length)])
      }
      this.range = this.ranges[0]
    },
    generateText () {
      const words = this.$store.state[this.pNotes].slice(this.range[0], this.range[1])
      this.prompt = this.promptPhrase
      for (let n = 0; n < words.length; n++) {
        this.prompt += words[n]['Vocabulary-English'] + ', '
      }
      console.log(this.prompt)
      fetch(this.api_endpoint, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
          // Authorization: `Bearer ${this.api_key}`
        },
        body: JSON.stringify({
          model: 'gpt-3.5-turbo',
          messages: [{ role: 'user', content: this.prompt }]
          // prompt: this.prompt,
          // max_tokens: 50,
          // n: 1,
          // stop: ['\n']
        })
      })
        .then(response => response.json())
        .then(data => {
          console.log(data)
          this.generatedText = data.choices[0].message.content.split('\n')
          this.overlay = true
        })
        .catch(error => console.error(error))
    }
  },
  mounted () {
    this.updateList()
    this.range = [0, this.value]
  }
}
</script>
