<template>
  <v-container>
    <v-card class="pa-3">
        <v-card-title>Settings</v-card-title>
        <v-checkbox
          v-model="shareStatsModel"
          label="Share Stats"
          @change="updateStatSharing"
        ></v-checkbox>
        <v-row>
          <v-col cols=6>
            <v-text-field
              :disabled="!shareStats"
              label="Nickname"
              v-model="nickName"
              filled
            ></v-text-field>
          </v-col>
          <v-col cols=3>
            <v-btn x-large color="success" @click="updateNickname">Update Nickname</v-btn>
          </v-col>
        </v-row>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Settings',

  data: () => ({
    shareStatsModel: false,
    shareStats: 0,
    nickName: ''
  }),
  methods: {
    updateStatSharing () {
    //   this.$store.commit('updateStatSharing', this.shareStats ? 1 : 0)
      this.shareStats = this.shareStatsModel ? '1' : '0'
      this.updateNickname()
    },
    updateNickname () {
      if (this.nickName.replace(' ', '') !== '') {
        this.$store.commit('updateNickname', this.shareStats + this.nickName)
      } else {
        alert(
          'Nickname can\'t be empty'
        )
      }
    }
  },
  mounted () {
    this.nickName = this.$store.state.nickName
    this.shareStatsModel = this.$store.state.shareStats
    this.shareStats = this.$store.state.shareStats
  }
}
</script>
